<!DOCTYPE html>
<html lang="en">
<head>
 <link href="../stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="../stylesheets/grayscale.min.css" rel="stylesheet" type="text/css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

 <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>



</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">Dump Trace
                    <!-- <i class="fa fa-play-circle"></i> <span class="light"></span> -->
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    
                    <li>
                        <a class="page-scroll" href="/MapView">MapView</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/ListView">ListView</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/charts">ChartView</a>
                    </li>
                    <li>
                        <a  class="page-scroll" href="/bookings"><font color="white" SIZE="3">BOOKINGS </font></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<link href="../stylesheets/grayscale.min.css" rel="stylesheet" type="text/css">
<header class="intro">
        <div class="intro-body">

<br></br>
<br></br>


<div  id="container" style="color:#0b3C5D ; padding: 35px 35px ; margin-bottom: 20px; background-color: black ";"></div>
<br></br>
<br></br>
<div  id="container3" style="color:#0b3C5D ; padding: 35px 35px ; margin-bottom: 20px; background-color: black ";"></div>
<br></br>
<br></br>

<div  id="container4" style="color:#0b3C5D ; padding: 35px 35px ; margin-bottom: 20px; background-color: black ";"></div>
<br></br>
<br></br>
<div  id="container5" style="color:#0b3C5D ; padding: 35px 35px ; margin-bottom: 20px; background-color: black ";"></div>
<br></br>
<br></br>
<div  id="container6" style="color:#0b3C5D ; padding: 35px 35px ; margin-bottom: 20px; background-color: black ";>"</div>
<br></br>
<br></br>
<div id="container2" style="color:#0b3C5D ; padding: 35px 35px ; margin-bottom: 20px; background-color: black ";"></div>
<br></br>
<br></br>

</div>

    <script type='text/javascript'>


$(function() {
  var array=[];
  var count=[];
  
  
  <%val.forEach(function(element){%>
    var temp=[];

    temp.push("<%=element.Address%>"+":    "+"     "+<%=element.count%>);
    temp.concat(":");
    temp.concat(<%=element.count%>)
    temp.push(<%=element.count%>);
    count.push(<%=element.count%>);
    array.push(temp);  
  <%})%>

  
var datearray=[];
  <%date.forEach(function(element){ %>
var temp=[];
var convert=[];
<% element.forEach(function(e){ %>
  var str="<%=e[0]%>";
  var dam=new Date(str);
  console.log(dam.getTime());
temp.push(dam.getTime());
convert.push(temp);
temp.push(<%=e[5]%>);
datearray.push(temp);
<%})%>
    <%})%>
  
  


  
$('#container2').highcharts({
      

    
        chart: {
            zoomType: 'x'
        },
        title: {
            text: 'Incidents occured on each day'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        },
        xAxis: {
            
             type: 'datetime',
            
        title:{
          text:"Days"
        }
        },
        yAxis: {
            title: {
                text: 'Incident Count'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'Incidents occured on this day',
            data:datearray
        }]
    });
})

$(function() {
  var bount=[];
  <% bod.forEach(function(element){%>
    var temp=[];
temp.push("<%=element[0]%>"+":  "+<%=element[1]%>);
temp.push(<%=element[1]%>);
bount.push(temp);

  <%})%>
  
$('#container').highcharts({
          
        chart: {
            zoomType: 'x'

        },
        title: {
            text: 'Chart representing count of number of incidents in various cities'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        },
        xAxis: {
            title: {
                text: 'Location'
            }
        },
        yAxis: {
            title: {
                text: 'number of incidents'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            },
            pie: { allowPointSelect: true, cursor: 'pointer' }
        },

        // series: [{
        //     type: 'column',
        //     name: 'Count is',
        //     data:[
        //     {name:'San Jose',x:0,y:10},
        //     {name:'Sunnyvale',x:1,y:2},
        //     {name:'Mountain View',x:2,y:5}]
        // }]
        
                    
                    series: [{ 
                      type:'pie',
                      name: 'Incident Count',
                      data:bount
                      }]
    });
})

$(function() {
  var array1=[];
    var array2=[];
    var array3=[];
    var array4=[];
  <% bod.forEach(function(elem){%>
    
  var count=[];
  var target="<%=elem[0]%>";
  
  <%val.forEach(function(element){%>
    var temp=[];
    var string='<%=element.city%>';
//console.log('string');
if(string==target){
    temp.push("<%=element.Address%>"+":    "+"     "+<%=element.count%>);
    temp.concat(":");
    temp.concat(<%=element.count%>)
    temp.push(<%=element.count%>);
    count.push(<%=element.count%>);
    if(target=="San Jose"){
    array1.push(temp);  
       console.log("Sanjose is "+array1);
  }
    if(target=="Sunnyvale"){
    array2.push(temp);
    console.log("Sunnyvale is "+array2);
  
      }
    if(target=="Santa Clara"){
    array3.push(temp);
    console.log("Santaclara is "+array3);
      }
    if(target=="Milpitas"){
    array4.push(temp);
    console.log(" Milpitas is " + array4); 
     }
  

  }
  <%})%>
  <%})%>
  console.log("Sanjose is "+array1);
  console.log("Sunnyvale is "+array2);
  console.log("Santaclara is "+array3);
  console.log(" Milpitas is " + array4); 
  
$('#container3').highcharts({
          
        chart: {
            zoomType: 'x'

        },
        title: {
            text: 'Chart representing different locations and its count of number of incidents in San Jose'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        },
        xAxis: {
            title: {
                text: 'Location'
            }
        },
        yAxis: {
            title: {
                text: 'number of incidents'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            },
            pie: { allowPointSelect: true, cursor: 'pointer' }
        },

        // series: [{
        //     type: 'column',
        //     name: 'Count is',
        //     data:[
        //     {name:'San Jose',x:0,y:10},
        //     {name:'Sunnyvale',x:1,y:2},
        //     {name:'Mountain View',x:2,y:5}]
        // }]
        
                    
                    series: [{ 
                      type:'pie',
                      name: 'Incident Count',
                      data:array1
                      }]
    });
})
$(function() {
  var array1=[];
    var array2=[];
    var array3=[];
    var array4=[];
  <% bod.forEach(function(elem){%>
    
  var count=[];
  var target="<%=elem[0]%>";
  
  <%val.forEach(function(element){%>
    var temp=[];
    var string='<%=element.city%>';
//console.log('string');
if(string==target){
    temp.push("<%=element.Address%>"+":    "+"     "+<%=element.count%>);
    temp.concat(":");
    temp.concat(<%=element.count%>)
    temp.push(<%=element.count%>);
    count.push(<%=element.count%>);
    if(target=="San Jose"){
    array1.push(temp);  
       console.log("Sanjose is "+array1);
  }
    if(target=="Sunnyvale"){
    array2.push(temp);
    console.log("Sunnyvale is "+array2);
  
      }
    if(target=="Santa Clara"){
    array3.push(temp);
    console.log("Santaclara is "+array3);
      }
    if(target=="Milpitas"){
    array4.push(temp);
    console.log(" Milpitas is " + array4); 
     }
  

  }
  <%})%>
  <%})%>
  console.log("Sanjose is "+array1);
  console.log("Sunnyvale is "+array2);
  console.log("Santaclara is "+array3);
  console.log(" Milpitas is " + array4); 
  
$('#container4').highcharts({
          
        chart: {
            zoomType: 'x'

        },
        title: {
            text: 'Chart representing different locations and its count of number of incidents in SunnyVale'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        },
        xAxis: {
            title: {
                text: 'Location'
            }
        },
        yAxis: {
            title: {
                text: 'number of incidents'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            },
            pie: { allowPointSelect: true, cursor: 'pointer' }
        },

        // series: [{
        //     type: 'column',
        //     name: 'Count is',
        //     data:[
        //     {name:'San Jose',x:0,y:10},
        //     {name:'Sunnyvale',x:1,y:2},
        //     {name:'Mountain View',x:2,y:5}]
        // }]
        
                    
                    series: [{ 
                      type:'pie',
                      name: 'Incident Count',
                      data:array2
                      }]
    });
})
$(function() {
  var array1=[];
    var array2=[];
    var array3=[];
    var array4=[];
  <% bod.forEach(function(elem){%>
    
  var count=[];
  var target="<%=elem[0]%>";
  
  <%val.forEach(function(element){%>
    var temp=[];
    var string='<%=element.city%>';
//console.log('string');
if(string==target){
    temp.push("<%=element.Address%>"+":    "+"     "+<%=element.count%>);
    temp.concat(":");
    temp.concat(<%=element.count%>)
    temp.push(<%=element.count%>);
    count.push(<%=element.count%>);
    if(target=="San Jose"){
    array1.push(temp);  
       console.log("Sanjose is "+array1);
  }
    if(target=="Sunnyvale"){
    array2.push(temp);
    console.log("Sunnyvale is "+array2);
  
      }
    if(target=="Santa Clara"){
    array3.push(temp);
    console.log("Santaclara is "+array3);
      }
    if(target=="Milpitas"){
    array4.push(temp);
    console.log(" Milpitas is " + array4); 
     }
  

  }
  <%})%>
  <%})%>
  console.log("Sanjose is "+array1);
  console.log("Sunnyvale is "+array2);
  console.log("Santaclara is "+array3);
  console.log(" Milpitas is " + array4); 
  
$('#container5').highcharts({
          
        chart: {
            zoomType: 'x'

        },
        title: {
            text: 'Chart representing different locations and its count of number of incidents in Santa Clara'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        },
        xAxis: {
            title: {
                text: 'Location'
            }
        },
        yAxis: {
            title: {
                text: 'number of incidents'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            },
            pie: { allowPointSelect: true, cursor: 'pointer' }
        },

        // series: [{
        //     type: 'column',
        //     name: 'Count is',
        //     data:[
        //     {name:'San Jose',x:0,y:10},
        //     {name:'Sunnyvale',x:1,y:2},
        //     {name:'Mountain View',x:2,y:5}]
        // }]
        
                    
                    series: [{ 
                      type:'pie',
                      name: 'Incident Count',
                      data:array3
                      }]
    });
})
$(function() {
  var array1=[];
    var array2=[];
    var array3=[];
    var array4=[];
  <% bod.forEach(function(elem){%>
    
  var count=[];
  var target="<%=elem[0]%>";
  
  <%val.forEach(function(element){%>
    var temp=[];
    var string='<%=element.city%>';
//console.log('string');
if(string==target){
    temp.push("<%=element.Address%>"+":    "+"     "+<%=element.count%>);
    temp.concat(":");
    temp.concat(<%=element.count%>)
    temp.push(<%=element.count%>);
    count.push(<%=element.count%>);
    if(target=="San Jose"){
    array1.push(temp);  
       console.log("Sanjose is "+array1);
  }
    if(target=="Sunnyvale"){
    array2.push(temp);
    console.log("Sunnyvale is "+array2);
  
      }
    if(target=="Santa Clara"){
    array3.push(temp);
    console.log("Santaclara is "+array3);
      }
    if(target=="Milpitas"){
    array4.push(temp);
    console.log(" Milpitas is " + array4); 
     }
  

  }
  <%})%>
  <%})%>
  console.log("Sanjose is "+array1);
  console.log("Sunnyvale is "+array2);
  console.log("Santaclara is "+array3);
  console.log(" Milpitas is " + array4); 
  
$('#container6').highcharts({
          
        chart: {
            zoomType: 'x'

        },
        title: {
            text: 'Chart representing different locations and its count of number of incidents in Milpitas'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        },
        xAxis: {
            title: {
                text: 'Location'
            }
        },
        yAxis: {
            title: {
                text: 'number of incidents'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            },
            pie: { allowPointSelect: true, cursor: 'pointer' }
        },

        // series: [{
        //     type: 'column',
        //     name: 'Count is',
        //     data:[
        //     {name:'San Jose',x:0,y:10},
        //     {name:'Sunnyvale',x:1,y:2},
        //     {name:'Mountain View',x:2,y:5}]
        // }]
        
                    
                    series: [{ 
                      type:'pie',
                      name: 'Incident Count',
                      data:array4
                      }]
    });
})
  
   
</script>
</body>


</html>