<!DOCTYPE html>
<html lang="en">
<head>
<style type="text/css">
      html { height: 100% }
      body { font-family: "Lato", sans-serif;height: 100%; margin: 0; padding: 0 }
      
      #button {margin-left: 10px;}
      #newDiv {
    width: 100%;
    padding: 25px 0;
    text-align: center;
    background-color: lightgreen;
    margin-top:20px;
}
      #i{
        width:100px;
        height:100px;
      }
    </style>
<% include template %>
</head>
<body>
<div id="r">
<span id="myspan" style="font-size:20px;cursor:pointer" onclick="myFunction()" >&#9776;&nbsp&nbspThe Dumping Hot Spots are:
 </span>
<br></br>
</div>
<!-- <img id="i" alt="Smiley face" width="100" height="100"> -->
 
 

<ul id="myList">
  
</ul>

<br id="br"></br>
<script src="https://www.gstatic.com/firebasejs/3.7.1/firebase.js"></script>
  
  <!-- jQuery -->
  <script src="../lib/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="../lib/bootstrap.min.js"></script>

<script>
  var config = {
  apiKey: "AIzaSyBH5uLSlvmVZnmsQheQjWzgaoeOwPZsciA",
  authDomain: "dumptrace.firebaseapp.com",
  databaseURL: "https://dump-trace.firebaseio.com/",
  storageBucket: "gs://dump-trace.appspot.com",
  
};
firebase.initializeApp(config);
</script>
<script>
var storage = firebase.storage();
var database=firebase.database();

var storageRef = storage.ref();
var imagesRef = storageRef.child('photos');

window.onload=function myFunction() { 

  
       
        var count=0;
        <% val.forEach(function(elem){ %>
         

   <% elem.forEach(function(eleme){ %>
            
      var newDiv = document.createElement("Button");
      newDiv.id="newDiv"
      var newContent = document.createTextNode("<%=eleme[3]%>"+"    -->    "+"<%=eleme[5]%>"); 
      newDiv.appendChild(newContent); 
      linebreak = document.createElement("br"); 
      newDiv.appendChild(linebreak);
      var list = document.getElementById("myList"); 
      list.insertBefore(newDiv, list.childNodes[count]); 

     $('#newDiv').on('click', function (e) {
      count++;
      <%eleme[6].forEach(function(e){%>

console.log("<%=e%>");
      var Div = document.createElement("img"); 
      Div.id="<%=e%>"
      imagesRef.child("<%=e%>").getDownloadURL().then(function(url) {
      var img = document.getElementById("<%=e%>");
      img.src = url;
      img.width="100";
      img.height="100";
      $('#<%=e%>').on('click',function(e){
        var data=database.ref("Address of the Dump spots/"+"<%=e%>");
        data.on('value', function(snapshot) {
        var retrieve=snapshot.val().Time;
        console.log(retrieve);
});

              })
      

      }).catch(function(error) {
         // Handle any errors
      });
      var list = document.getElementById("myList"); 
      list.insertBefore(Div, list.childNodes[count]); 
      count++;
       <% });%>
     

 //       var Div = document.createElement("LI"); 
 //      Div.id="Div"
 //      var newContent = document.createTextNode("<%=eleme[3]%>"); 
 //      Div.appendChild(newContent); 
 //       var list = document.getElementById("myList"); 
 //       list.insertBefore(Div, list.childNodes[count]); 
 // count++;
     
})
     
        <% });%>

     <% });%>


    
  
}


</script>
</body>

</html>
