<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

 <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>




</head>

<body>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <script type='text/javascript'>


$(function() {
  var array=[];
  var count=[];
  
  <%val.forEach(function(element){%>
    var temp=[];

    temp.push("<%=element.Address%>"+":    "+"     "+<%=element.count%>);
    temp.concat(":");
    temp.concat(<%=element.count%>)
    temp.push(<%=element.count%>);
    count.push(<%=element.count%>);
    array.push(temp);  
  <%})%>

  for(var i=0;i<array.length;i++){
    console.log(array[i]);
  }
var datearray=[];
  <%date.forEach(function(element){ %>
var temp=[];
<% element.forEach(function(e){ %>
  console.log("<%=e[2]%>");
temp.push("<%=e[2]%>");
temp.push(<%=e[5]%>);
datearray.push(temp);
<%})%>
    <%})%>
  
   $('#container').highcharts({
        chart: {
            zoomType: 'x'
        },
        title: {
            text: 'Graph representing Location and its count of number of incidents'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        },
        xAxis: {
            title: {
                text: 'Location'
            }
        },
        yAxis: {
            title: {
                text: 'number of incidents'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            },
            pie: { allowPointSelect: true, cursor: 'pointer' }
        },

        // series: [{
        //     type: 'column',
        //     name: 'Count is',
        //     data:[
        //     {name:'San Jose',x:0,y:10},
        //     {name:'Sunnyvale',x:1,y:2},
        //     {name:'Mountain View',x:2,y:5}]
        // }]
        
                    
                    series: [{ 
                      type:'pie',
                      data:array
                      }]
//         chart: {
                           
//                             type: 'column'
//                         },
//                         title: {
//                             text: 'Dump incident trends'
//                         },
//                         /*  subtitle: {
//                          text: 'Source: WorldClimate.com'
//                          }, */

//                         xAxis: {
//                             categories: [
//                                 'Date'

//                             ],
//                             crosshair: true
//                         }
//                         ,
//                         yAxis: {
//                             min: 0,
//                             title: {
//                                 text: 'Address'
//                             }
//                         }
//                         ,
//                         tooltip: {
//                             headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
//                             pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
//                             '<td style="padding:0"><b>{point.y:.1f} bn</b></td></tr>',
//                             footerFormat: '</table>',
//                             shared: true,
//                             useHTML: true
//                         }
//                         ,
//                         plotOptions: {
//                             column: {
//                                 pointPadding: 0,
//                                 borderWidth: 0
//                             }
//                         }
//                         ,
//                         series:[{
//                         data: datearray
// }]
                             
              
          
    });
});
</script>
</body>


</html>