<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dump Trace</title>

    <!-- Bootstrap Core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="../stylesheets/modern-business.css" rel="stylesheet" type="text/css">

    <!-- Custom Fonts -->
    <link href="../stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    
    <script>
    function process(){
      console.log("TESTTTT");
      var day=document.getElementById("day").value;
      var day2=document.getElementById("day2").value;
      var value=new Date(day);
      var value2=new Date(day2);
      var newMarkers=[];
      var mapmarkers=[];
      console.log("TESTTTT");
     // console.log(value.toString());
      <% val.forEach(function(elem){ %>
        var date= new Date("<%=elem.Time%>");
       console.log(date.getTime());
       if(date.getTime()>=value.getTime())
        {if(date.getTime()<=value2.getTime()){
          console.log(date);
          console.log("TTTTTTT");
          var temp=[];
          temp[0]=<%=elem.Latitude%>;
          temp[1]=<%=elem.Longitude%>
          //temp.push(<%=elem.Latitude%>);
         // console.log(temp);
          //temp.push(<%=elem.Longitude%>);
          console.log(temp);
console.log("TESTTTT");
          newMarkers.push(temp);
        console.log(newMarkers);
       }
     }
     <% });%>
      var mapOptions = {
          center: new google.maps.LatLng(37.3382,-121.8863),
          zoom: 11,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
          var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
       newMarkers.forEach(function(drink){ 
        marker = new google.maps.Marker({
        position: new google.maps.LatLng(drink[0],drink[1]) 
     }); 
        mapmarkers.push(marker);
        console.log(mapmarkers);
       
      });
var markerCluster=new MarkerClusterer(map,mapmarkers); 
google.maps.event.addListener(markerCluster, 'clusterclick', function(cluster) {
    // your code here
    map.setZoom(15);
    map.setCenter(cluster.getCenter());
//cluster.getMarkers();
//cluster.getSize();
});
    }
      
</script>

    
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> <span
            class="icon-bar"></span> <span class="icon-bar"></span> <span
            class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Dump Trace</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse"
        id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          
          <li>
            <a href="/MapView">Map View</a>
          </li>
          <li>
            <a href="/ListView">List View</a>
          </li>
          <li>
            <a href="/charts">Chart View</a>
          </li>

          <!-- <li class="dropdown"><a href="#" class="dropdown-toggle"
            data-toggle="dropdown">K<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/companyRatingAnalysis">Ratings</a></li>
              <li><a href="/showCompanyReviews">Reviews</a></li>
            </ul></li>
          <li class="dropdown"><a href="#" class="dropdown-toggle"
            data-toggle="dropdown">J<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/getBarChartCali">Full Time vs part Time in
                  CA </a></li>
              <li><a href="/showmaps">State wise job count</a></li> -->
            </ul></li>

          <!-- <li><a href="/showtest">M</a></li> -->
        </ul>
        <!-- /.navbar-collapse -->
      </div>
      
   
  

      <!-- /.container -->
  </nav>

 <br></br>
  
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

 <style type="text/css">
      html { height: 100% }
      body { font-family: "Lato", sans-serif;height: 100%; margin: 0; padding: 0;background: brown !important }
      #day{color:white;background: black}
      #day2{color:white;background: black}
      #map_canvas { width: 98%;height:450px; }
      .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_vZAlwiYJHZpJGR7W5429MVhcRQBlZdE&callback=initMap"></script>
    <script type="text/javascript" src="/MarkerClusterer/markerclusterer.js"></script>
    <script>
      window.onload=function initialize() {
        console.log("TEST");
        var mapOptions = {
          center: new google.maps.LatLng(37.3382,-121.8863),
          zoom: 11,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
        var markers=[];
         <% val.forEach(function(drink){ %>
        marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%=drink.Latitude%>,<%=drink.Longitude%>),
        
     }); 
        //console.log(<%=drink[3]%>);
        //marker.setTitle(<%=drink[3]%>);
        var h=("<%=drink.Address%>");
        marker.setTitle(h);
     
        markers.push(marker);
       console.log(marker);
     <% });%>
         var markerCluster=new MarkerClusterer(map,markers,{imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
google.maps.event.addListener(markerCluster, 'clusterclick', function(cluster) {
    // your code here
    map.setZoom(15);

    map.setCenter(cluster.getCenter());
    openNav();
    console.log("Ro");
    
    console.log(cluster);
    //console.log(cluster.markerCluster.markers[0]);
    console.log("ro");
    console.log(cluster);
    
//cluster.getMarkers();
//cluster.getSize();
});
      }
    </script>


  <script>

      function reload() {
        console.log("TEST");
        var mapOptions = {
          center: new google.maps.LatLng(37.3382,-121.8863),
          zoom: 11,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
        var markers=[];
         <% val.forEach(function(drink){ %>
        marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%=drink.Latitude%>,<%=drink.Longitude%>),
        
     }); 
        //console.log(<%=drink[3]%>);
        //marker.setTitle(<%=drink[3]%>);
        var h=("<%=drink.Address%>");
        marker.setTitle(h);
     
        markers.push(marker);
       console.log(marker);
     <% });%>
         var markerCluster=new MarkerClusterer(map,markers);
google.maps.event.addListener(markerCluster, 'clusterclick', function(cluster) {
    // your code here
    map.setZoom(15);
    map.setCenter(cluster.getCenter());
    openNav();
    console.log("Ro");
    
    console.log(cluster);
    //console.log(cluster.markerCluster.markers[0]);
    console.log("ro");
    console.log(cluster);
    
//cluster.getMarkers();
//cluster.getSize();
});
      }
    
  </script>
    
  </head>
  <body>
    

    <div class="row" style="margin: 0 auto; margin-top:25px">
      <div class="col-lg-12">
    
  <font color="white">Pick a Time Line From: <input type="date"  id="day"></input></font>
  <font color="white">To: <input type="date" id="day2"></input></font>
  <button type="button" onclick="process()">Submit!</button>
  
</div>
</div>
<div class="row" >
<div class="col-lg-9" align="right" style="margin: 0 auto;">
<button type="button" onclick="reload()">Zoom Out!</button>
</div>
</div>
<div id="mySidenav" class="sidenav">
  <span style="font-size:15px;cursor:pointer" onclick="closeNav()" >&#9776; Close</span>
  
  <a href="#">Address</a>
  <a href="#">Time</a>
  <a href="#">Image</a>
  
</div>



    <div class="col-lg-12" style="margin: 0 auto; margin-top:15px; margin-left:15px; padding-right:40cms;" id="map_canvas" style="width:100%; height:100%"></div>




  </body>
</html>


 -->